body {
  margin: 0;
  padding: 0;
  font-family: "Bona Nova", serif;
}

/* header part css start  */

.header {
  background-color: #70aff7;
  padding: 8px 0;
}
.header::after {
  content: "";
  clear: both;
  display: block;
}
.container {
  width: 75%;
  margin: auto;
  max-width: 860px;
}
.logo-area {
  width: 30%;
  float: left;
}
.login-area {
  width: 70%;
  float: left;
  color: white;
}
.login-area form {
  float: right;
}
.login-area label,
.login-area input {
  display: block;
}
.login-area .email,
.login-area .password,
.login-area .login {
  float: left;
  margin-right: 10px;
}
.login-area a {
  text-decoration: none;
  font-size: 14px;
}
.login-area a:hover {
  color: black;
}
.login-area input[type="submit"] {
  background-color: #70aff7;
  color: white;
  border: 1px solid #499bfa;
  padding: 2px 3px;
  margin-top: 19px;
  font-size: 12px;
  font-weight: 400;
}
/* header part css end  */

/* sign up part css start  */
.left-area {
  width: 55%;
  float: left;
}
.right-area {
  width: 45%;
  float: left;
}
.left-area p {
  font-size: 28px;
  font-weight: 400;
  width: 90%;
}
.left-area img {
  width: 100%;
}
.right-area input[type="text"],
.right-area input[type="password"] {
  width: 100%;
  border-sizing: border-box;
  border: 1px solid #bdc7d8;
  border-radius: 5px;
  padding: 3px 0;
  margin: 5px 0;
}
.full-name {
  overflow: hidden;
}
.first-name {
  width: 46%;
  float: left;
  margin-right: 7%;
}
.surname {
  width: 46%;
  float: left;
}
/* sign up part css end  */
